# Create a virtual environment before installing dependencies
# Go to ml folder:
# python -m venv venv
# source venv/bin/activate (on Mac/Linux)  or  venv\Scripts\activate (on Windows)
# Install dependencies using:
# pip install -r requirements.txt
# run:
# uvicorn main:app --reload

fastapi
uvicorn
joblib
pandas
numpy
scikit-learn
python-multipart

